<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
	<head>
		<title>Cadastro Ativos</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container">
			<div class="alert-danger">
				<div class="row">
					<div class="col-sm-10">
						<h1>Aviso</h1>
						<hr>
						<h2>Erro ao tentar logar</h2>
						<br>
					</div>
					<div class="col-sm-2">
						<a href="/" class="btn btn-danger btn-sm">Tentar Novamente</a>
					</div>
				</div>
			</div>
		</div>		
	</body>
</html>