<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>Cadastro Ativos</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container">
			<h1>Cadastro de Ativos</h1>
			<hr>
			<div class="col-sm-4">
			</div>
			<div class="col-sm-4">
			
				<form action="/validarLogin" method="POST" class="form">
					<div class="form-group row">
						<div class="col-sm-4">
							<label>Usuario</label>
						</div>
						<div class="col-sm-6">
							<input type="text" name="usuario" autofocus="true">
						</div>
						<div class="col-sm-2"></div>
					</div>
				
					<div class="form-group row">
						<div class="col-sm-4">
							<label>Senha</label>
						</div>
						<div class="col-sm-6">
							<input type="password" name="senha">
						</div>
						<div class="col-sm-2">
							<button type="submit" class="btn btn-secondary btn-sm">Acessar</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-sm-4">
			</div>
			
		</div>
	</body>
</html>